@import "./welcome-page";
@import "./level1";
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inconsolata', monospace;
}
// body{
//     // background-color: black;
// }
.body-dark{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.548);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none; // ========================
}
// .level1{
//     // display: none;
// }
